
*.jar
.minecraft/logs/*
.minecraft/icon.png
.minecraft/saves/*
instance.cfg
mmc-pack.json
.minecraft/usernamecache.json
.minecraft/options.txt
natives/*
.minecraft/*.png
.minecraft/crash-reports/*
*.so
.minecraft/BotaniaVars.dat
