*.jar
src/main/minecraft/logs/*
src/main/minecraft/icon.png
src/main/minecraft/saves/*
src/main/minecraft/usernamecache.json
src/main/minecraft/options.txt
src/main/client/*.png
src/main/minecraft/crash-reports/*
*.so
src/main/minecraft/BotaniaVars.dat
src/main/minecraft/journeymap/*
src/main/minecraft/resourcepacks/*
src/main/minecraft/mods/carpentersblocks/CarpentersBlocksCachedResources.zip
src/main/minecraft/minetweaker.log
/.idea/
/.gradle/
/build/
